.footerLogo, .headerLogo {
    font-family: 'Roboto Mono', monospace;
}

.footerLogo {
    margin-top: 1rem;
}

.pintHeader {
    text-align:center;
    margin: 2rem 0;
}

.pintFooter {
    text-align:center;
    margin-top:2rem;
}

.footerMenu {
    font-size: 4rem;
}