{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Pint</title>

    <!--    BOOTSTRAP LINK-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!--    GOOGLE FONTS LINK   -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&display=swap" rel="stylesheet">

    <!--    DEFAULT CSS LINK    -->
    <link rel="stylesheet" href="{% static 'base.css' %}">

    <style>
        @font-face {
            font-family: 'NanumBrush';
            src: local('NanumBrush'),
            url("{% static 'fonts/NanumBrush.ttf' %}") format("truetype");
        }
        @font-face {
            font-family: 'flowerRoad';
            src: local('flowerRoad'),
            url("{% static 'fonts/210 꽃길R.ttf' %}") format("truetype");
        }
    </style>
</head>